.top-section {
  border-radius: 4px;
  margin-top: 60px;
  position: fixed;
  top: -6px; /* Replace with the height of your navbar */
  left: 0;
  right: 0;
  z-index: 10;
  /* Add other styles for your header */
}

.content {
  padding-bottom: 3rem; /* Space for the sticky-bottom div */
}
