.container {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 0px;
    align-items: center;
  }
  .prev-icon {
    justify-self: start;
  }
  .select-box {
    justify-self: center;
    padding-right: 20px;
  }